* {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-between;
}

